<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="col-lg-6 offset-lg-3 mt-5">
<div id="" class="form-group">
<select id="dm" class="form-control">
    <option value="" disabled selected>Selectionner une marque</option>
</select>
</div>
<div id="" class="form-group">
<select id="dmo" class="form-control">
    <option value="" disabled selected>Selectionner un model</option>
</select>
</div>
<div class="form-group">
    <select class="form-control" id="symbo" placeholder="symboling" />
        <option value="" disabled selected>Selectionner</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
</div>
<div class="form-group">
    <select  class="form-control" id="fType"  />
        <option value="" disabled selected>Selectionner un type de fuel</option>
        <option value="gas">gas</option>
        <option value="diesel">diesel</option>
    </select>
</div>
<div class="form-group">
    <select class="form-control" id="asp" />
        <option value="" disabled selected>choisissez l'aspiration</option>
        <option value="std">std</option>
        <option value="turbo">turbo</option>
    </select>
</div>
<div class="form-group">
    <select class="form-control" id="doo"/>
        <option value="" disabled selected>choisissez le nombre des portes</option>
        <option value="two">deux</option>
        <option value="four">quatre</option>
    </select>
</div>
<div class="form-group">
    <select class="form-control" id="carbody"/>
        <option value="" disabled selected>choisissez le car body</option>
        <option value="convertible">convertible</option>
        <option value="hatchback">hatchback</option>
        <option value="sedan">sedan</option>
        <option value="wagon">wagon</option>
        <option value="hardtop">hardtop</option>
    </select>
</div>
<div class="form-group">
    <select class="form-control" id="drwh" />
        <option value="" disabled selected>choisissez le drive weel</option>
        <option value="rwd">rwd</option>
        <option value="fwd">fwd</option>
        <option value="4wd">4wd</option>
    </select>
</div>
<div class="form-group">
    <select class="form-control" id="enlo" placeholder="engine location" />
        <option value="" disabled selected>choisissez le engine location</option>
        <option value="front">front</option>
        <option value="rear">rear</option>
    </select>
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="whba" placeholder="wheelbase" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="clength" placeholder="car length" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="cwidth" placeholder="car width" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="cheight" placeholder="car height" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="cuwe" placeholder="curb weight" />
</div>
<div class="form-group">
    <input type="text" name="" class="form-control" id="enty" placeholder="engine type" />
</div>
<div class="form-group">
    <select class="form-control" id="cynum" placeholder="cylinder number" />
    <option value="" disabled selected>choisissez le nombre des cylinders</option>
    <option value="two">deux</option>
    <option value="three">trois</option>
    <option value="four">quatre</option>
    <option value="five">cinq</option>
    <option value="six">six</option>
    <option value="eight">huit</option>
    <option value="twelve">douze</option>
    </select>
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="engsize" placeholder="engine size" />
</div>
<div class="form-group">
    <select class="form-control" id="fsys" placeholder="fuel system" />
        <option value="" disabled selected>choisissez le fuel system</option>
        <option value="mpfi">mpfi</option>
        <option value="2bbl">2bbl</option>
        <option value="mfi">mfi</option>
        <option value="1bbl">1bbl</option>
        <option value="spfi">spfi</option>
        <option value="4bbl">4bbl</option>
        <option value="idi">idi</option>
        <option value="spdi">spdi</option>
    </select>

</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="bratio" placeholder="bore ratio" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="stroke" placeholder="stroke" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="compRatio" placeholder="compression ratio" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="hpower" placeholder="horse power" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="prpm" placeholder="peakrpm" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="cmpg" placeholder="city mpg" />
</div>
<div class="form-group">
    <input type="number" name="" class="form-control" id="hmpg" placeholder="highway mpg" />
</div>
<button class="btn btn-primary" id="send">Envoyer</button>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>   
</body>
</html>
